@import "../import";

.sidebar-container {
  position: relative;
}

.sidebar {
  background: #252733;
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  overflow: auto;

  // @include yellow-scrollbar(4px);
}

.sidebar-items {
  margin-top: 46px !important;
  height: calc(100vh - 150px);
  row-gap: 74px;

  li {
    padding: 10px 0 !important;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    padding-left: 20px !important;

    &.logout {
      padding-bottom: 2rem !important;
      padding-top: 34px !important;
    }
  }
}

.sidebar-upper-items {
  row-gap: 60px;
}

.sidebar-items-main {
  li {
    height: 56px;
    align-items: center;

    &.active {
      background: #3e4049;
    }
  }
}

.logout-item,
.sidebar-items-main {
  li {
    p {
      color: $white;
      font-size: 16px;
    }
  }
}

.logout-item {
  li {
    border-top: 1px solid rgba($color: #dfe0eb, $alpha: 0.1);

    padding-left: 46px !important;
  }
}

.sidebar-item-icon {
}

.sidebar-children {
  background: #f7f8fc;
  margin-left: $sidebar-width;
  padding: 35px 56px 36px 50px;
  min-height: 100vh;
}

.sidebar-logo {
  margin-left: 35px;
  p {
    align-self: center;
    @include font-inter;
    color: #8e8e8e;
    margin-left: 10px !important;
  }
}
