@import "../import";

.common-heading {
  h3 {
    color: #252733;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 45px;
  }
  .profile-person-name {
    font-weight: 600;
    font-size: 14px;
  }
}

.heading-modal {
  font-weight: 500 !important;
  font-size: 27.0111px !important;
}
