@import "../import";
@import "./_table-icons";
@import "./_pharmacogenetic-results-table";
@import "./table-header";
@import "./_update-medical-history-table";

.data-table {
  border-radius: 0 0 8px 8px;
  border: 1px solid $table-border;
  border-top: none;

  .rdt_TableBody, rdt_TableCol_Sortable {
    div {
      white-space: pre-wrap !important;
    }
  }

  &.top-edges-curved {
    border: 1px solid $table-border;
    border-radius: 8px;
  }

  .rdt_TableHeadRow {
    min-height: auto;
    padding: 0 61px 0 57px;

    * {
      font-size: 16px;
      color: #9fa2b4;
    }

    .rdt_TableCol_Sortable {
      > div {
        padding: 23px 0;
      }
    }
  }

  .rdt_TableBody {
    * {
      font-weight: 400;
      font-size: 14px;
      color: #252733;
    }

    .rdt_TableRow {
      min-height: auto;
      padding: 0 61px 0 57px;
    }

    .rdt_TableCell {
      > div {
        padding: 24px 0;
      }
    }
  }
}

.table-cell-link {
  font-weight: 700 !important;
  color: $secondary !important;
}
